mat-card {
  margin-bottom: 10px;
}

.container {
  padding-top: 20px;
  background: lightblue;
  max-height: 100vh;
  height: 100vh;
}

.col-4 {
  overflow-y: scroll;
  max-height: 80vh;
}

.wrap {
  overflow-wrap: break-word;

}

.wrap ol li {
  border: 1px solid blue;
}

.mat-list-base .mat-list-item {
height: auto;
}
