<div class="container">
  <div class="row">
    <div class="col-4"><h1>Controls</h1></div>
    <div class="col-4"><h1>Preview</h1></div>
    <div class="col-4"><h1>Requests, Newest to Oldest</h1></div>
  </div>
  <div class="row">
    <div class="col-4">

      <mat-card *ngIf="!isLoggedIn">
        <mat-card-header>Login</mat-card-header>
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Your email address" [(ngModel)]="loginEmailAddress">
          </mat-form-field>
          <mat-error *ngIf="loginError && hasAttemptedToLogin">
            {{loginError}}
          </mat-error>
          <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="Your password" [(ngModel)]="loginPassword">
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button (click)="AttemptToLogIn()">Login</button>
        </mat-card-actions>
      </mat-card>

<!--      Contact Details -->
      <mat-card *ngIf="isLoggedIn">
        <mat-card-header>Contact Details</mat-card-header>
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <mat-label>First Name</mat-label>
            <input matInput [(ngModel)]="contactDetails.firstName">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Last Name</mat-label>
            <input matInput [(ngModel)]="contactDetails.lastName">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Initials</mat-label>
            <input matInput [(ngModel)]="contactDetails.initials">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Phone Number</mat-label>
            <input matInput [(ngModel)]="contactDetails.phoneNumber">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Street</mat-label>
            <input matInput [(ngModel)]="contactDetails.street">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>City</mat-label>
            <input matInput [(ngModel)]="contactDetails.city">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>County</mat-label>
            <input matInput [(ngModel)]="contactDetails.county">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Country</mat-label>
            <input matInput [(ngModel)]="contactDetails.country">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Postal Code</mat-label>
            <input matInput [(ngModel)]="contactDetails.postalCode">
          </mat-form-field>

        </mat-card-content>
        <mat-card-actions>
          <button (click)="UpdateContactDetails()">Save</button>
        </mat-card-actions>
      </mat-card>

<!--      Personal Statement-->
      <mat-card *ngIf="isLoggedIn">
        <mat-card-header>Personal Statement</mat-card-header>
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <mat-label>Statement Content</mat-label>
            <textarea matInput [(ngModel)]="newPersonalStatement.content" rows="4"
                      placeholder="Your personal statement here..."></textarea>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button (click)="UpdatePersonalStatement()">Save</button>
        </mat-card-actions>
      </mat-card>

<!--      Work History-->
      <mat-card *ngIf="isLoggedIn">
        <mat-card-header>Work History</mat-card-header>
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <mat-label>Job Title</mat-label>
            <input matInput [(ngModel)]="newWorkHistory.jobTitle">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Organization Name</mat-label>
            <input matInput [(ngModel)]="newWorkHistory.organizationName">
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Start Date</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="newWorkHistory.startDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>End Date</mat-label>
            <input matInput [matDatepicker]="picker1" [(ngModel)]="newWorkHistory.endDate">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Details</mat-label>
            <textarea matInput [(ngModel)]="newWorkHistory.details" rows="4"></textarea>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Street</mat-label>
            <input matInput [(ngModel)]="newWorkHistory.street">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>City</mat-label>
            <input matInput [(ngModel)]="newWorkHistory.city">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>County</mat-label>
            <input matInput [(ngModel)]="newWorkHistory.county">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Country</mat-label>
            <input matInput [(ngModel)]="newWorkHistory.country">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Postal Code</mat-label>
            <input matInput [(ngModel)]="newWorkHistory.postalCode">
          </mat-form-field>

        </mat-card-content>
        <mat-card-actions>
          <button (click)="CreateWorkHistory()">Save</button>
        </mat-card-actions>
      </mat-card>

      <mat-card *ngIf="isLoggedIn">
        <mat-card-header>Skills</mat-card-header>
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <mat-label>Name of Skill</mat-label>
            <input matInput [(ngModel)]="newSkill.name">
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button (click)="CreateNewSkill()">Save</button>
        </mat-card-actions>
      </mat-card>

      <mat-card *ngIf="isLoggedIn">
        <mat-card-header>Qualification</mat-card-header>
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="newQualification.name">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Level</mat-label>
            <mat-select [(value)]="newQualification.level">
              <mat-option *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8]" [value]="i">Level {{i}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Grade</mat-label>
            <input matInput [(ngModel)]="newQualification.grade">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Details</mat-label>
            <textarea matInput [(ngModel)]="newQualification.details" rows="4"></textarea>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Start Date</mat-label>
            <input matInput [matDatepicker]="picker2" [(ngModel)]="newQualification.startDate">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>End Date</mat-label>
            <input matInput [matDatepicker]="picker3" [(ngModel)]="newQualification.endDate">
            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
            <mat-datepicker #picker3></mat-datepicker>
          </mat-form-field>

        </mat-card-content>
        <mat-card-actions>
          <button (click)="CreateNewQualification()">Save</button>
        </mat-card-actions>
      </mat-card>

      <mat-card *ngIf="isLoggedIn">
        <mat-card-header>Interests</mat-card-header>
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="newInterest.name">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Description</mat-label>
            <textarea matInput [(ngModel)]="newInterest.description" rows="4"></textarea>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button (click)="CreateNewInterest()">Save</button>
        </mat-card-actions>
      </mat-card>

      <mat-card *ngIf="isLoggedIn">
        <mat-card-header>Referee</mat-card-header>
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="newReferee.name">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>JobTitle</mat-label>
            <input matInput [(ngModel)]="newReferee.jobTitle">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Organization Name</mat-label>
            <input matInput [(ngModel)]="newReferee.organizationName">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Relationship</mat-label>
            <input matInput [(ngModel)]="newReferee.relationship">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Phone number</mat-label>
            <input matInput [(ngModel)]="newReferee.phoneNumber">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Email Address</mat-label>
            <input matInput [(ngModel)]="newReferee.emailAddress">
          </mat-form-field>

        </mat-card-content>
        <mat-card-actions>
          <button (click)="CreateNewReferee()">Save</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-4">

      <h1 *ngIf="!isLoggedIn">Please log in to begin</h1>

      <mat-list *ngIf="isLoggedIn">
        <mat-list-item><h1>{{contactDetails.lastName}}, {{contactDetails.initials}} {{contactDetails.firstName}}</h1>
        </mat-list-item>
        <mat-list-item>
          <ul>
            <li>Address: {{GetAddress()}}</li>
            <li>Phone: {{contactDetails.phoneNumber}}</li>
            <li>E-mail: {{user.emailAddress}}</li>
          </ul>
        </mat-list-item>
        <mat-list-item>
          <h2>Personal Statement</h2>
          <p>{{GetFirstPersonalStatement()}}</p>
        </mat-list-item>
        <mat-list-item>
          <h2>Work History</h2>
          <mat-card *ngFor="let w of workHistories" (click)="DeleteWorkHistory(w.id)">
            <p>{{w.jobTitle}} @ {{w.organizationName}}</p>
            <p>{{w.street}}, {{w.city}}, {{w.county}}, {{w.postalCode}}, {{w.country}}</p>
          </mat-card>
        </mat-list-item>
        <mat-list-item>
          <h2>Skills</h2>
          <mat-card *ngFor="let w of skills" (click)="DeleteSkill(w.id)">
            <p>{{w.name}}</p>
          </mat-card>
        </mat-list-item>
        <mat-list-item>
          <h2>Qualifications</h2>
          <mat-card *ngFor="let w of qualifications"  (click)="DeleteQualifications(w.id)">
            <p>{{w.name}} and achieved a grade of: {{w.grade}} @ level: {{w.level}}</p>
            <p>{{w.startDate}} - {{w.endDate}}</p>
            <p>{{w.details}}</p>
          </mat-card>
        </mat-list-item>
        <mat-list-item>
          <h2>Interests</h2>
          <mat-card *ngFor="let w of interests" (click)="DeleteInterest(w.id)">
            <p>{{w.name}}</p>
            <p>{{w.description}}</p>
          </mat-card>
        </mat-list-item>
        <mat-list-item>
          <h2>Refrees</h2>
          <mat-card *ngFor="let w of referees" (click)="DeleteReferee(w.id)">
            <p>{{w.jobTitle}} @ {{w.organizationName}}: {{w.relationship}}</p>
            <p>{{w.emailAddress}}, {{w.phoneNumber}}</p>
          </mat-card>
        </mat-list-item>
      </mat-list>

    </div>
    <div class="col-4 wrap">

      <ol>
        <li *ngFor="let request of GetRequests().reverse()">
          {{request | json}}
        </li>
      </ol>

    </div>
  </div>
</div>
